button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F6F5F4;
    border: none;
    font-size: 50px;
    color: red;
  }

button:hover {
    background-color: #bcd6e9;
  }
